* { margin:0; padding:0; }
.for-print { display:block; }
@page { margin:0.5cm; }
/* hide */
#skiplinks, #main-nav, #sub, #breadcrumbs, #sidebar, #util { display:none !important; }
/* show */
body, #main, #content { float:none !important; width:auto !important; margin:0 !important; padding:0 !important; color:black !important; background:transparent !important; color:#444 !important; text-shadow:none !important; }

body { font-size:12px; line-height:18px; width:6in !important; margin:0 auto !important; font-family:Arial, sans-serif; }

a:link, a:visited { color:#520 !important; background:transparent; font-weight:bold; text-decoration:underline; }
#main a[href]:after, #footer a[href]:after { content:" (" attr(href) ") "; font-size:90%; }
#main a[href^="/"]:after, #footer a[href^="/"]:after { content:" (http://www.company.org" attr(href) ") "; font-size:90%; }
a[href^="javascript:"]:after, a[href^="#"]:after, .ir a:after { content: ""; }
abbr:after { content:" (" attr(title) ")"; }

h1 { font:italic bold 16px/1em Georgia, serif; color:black; margin-bottom:2px; border-top:2.5px solid #000; border-bottom:1px solid #000; padding:2px; }
h2 { font-size:12px; font-weight:bold; line-height:1; margin-bottom:6px; color:black; page-break-after:avoid; }
h3 { font-size:10px; font-weight:bold; line-height:1; margin-bottom:8px; color:black; page-break-after:avoid; }
h4 { font-size:8px; font-weight:bold; line-height:1; margin-bottom:10px; color:black; }
h5 { font-size:8px; font-weight:bold; color:black; }
h6 { font-size:8px; font-weight:bold; color:black; }
p, ul, ol, dl { margin:1.4em 0; font-size:10px; }
p, h2, h3 { orphans:3; widows:3; }
tr, img { page-break-inside:avoid; }
pre, blockquote { border:1px solid #999; page-break-inside:avoid; }

#contentinfo { border-top:0.5pt dotted #000; }

#main table { width:100%; text-align:left; margin-bottom:18px; }
#main caption { font-size:16px; text-align:center; font-weight:bold; }
#main th { font-weight:bold; text-align:left; }
#main thead { display:table-header-group; }
#main thead th { border:1px solid #ccd; padding:8px; background-color:#dde; color:#456; }
#main tbody th { border:1px dotted #ccd; padding:5px; background-color:#89a; color:#fff; }
#main tbody td { border:1px solid #ccc; padding:5px; text-align:left; border-bottom:0; }
#main tfoot td { border:1px solid #cc9; background-color:#ffc; padding:5px; font-weight:bold; color:black; }
#main tfoot th { border:1px solid #cc9; background-color:#BABA73; padding:5px; font-weight:bold; color:black; }